.home {
  background-image: url(./images/login_background.jpg);
}
.title {
  color: aliceblue;
  text-align: center;
  font-size: 32px;
  transition: 0.7s;
  animation: titleAppear linear 0.7s;
}

@keyframes titleAppear {
  0% {
    font-size: 0;
  }
  90% {
    font-size: 40px;
  }
}
